/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 janv. 2023, 09:59:39
    Author     : Manouher
*/
.back{
    -fx-background-color : #3f48cc;
}

.login-bg{
    -fx-background-color : linear-gradient(to bottom right,#6a9ae7,#426fb1);
}
.button1{
    -fx-background-color : white;
    -fx-cursor : hand;
}
.button2{
    -fx-background-color : white;
    -fx-cursor : hand;
}
.button1:hover{
    -fx-transition : .2s;
    -fx-background-color : linear-gradient(to bottom right,#6a9ae7,#426fb1);;
}
.reflet{
    -fx-background-color : #fefefe;
}
.tete{
    
    -fx-background-color : #121E31;
}
.corps{
    -fx-background-color : #0D9488;
}
.exit{
    -fx-background-radius : 50px;
    -fx-background-color : red;
}

.bord{
    
    -fx-background-color : #0D9488;
}
.haut{
    
    -fx-background-color : #a3a3a3;
}
.supp{
    -fx-background-color : #ef4444;
}
.modif{
    -fx-background-color : #22c55e;
}
.af{
    -fx-background-color : #d1d5db;
}
.achat{
    -fx-background-color : #4b5563;
}
.boite{
    -fx-background-color : #60a5fa;
}
.noir{
    -fx-background-color : #f0f9ff;
}

.toi{
    
    -fx-background-image : url('../image/insuliiniresistenssi_84.jpg');
    
}
.default-color0.chart-bar{
    
    -fx-bar-fill: #0D9488;
}
.default-color1.chart-bar{
    
    -fx-bar-fill: green;
}
/*.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.table-view .column-header {
    -fx-border-width: 0 0 2 0;
    -fx-border-color: lightgrey;
}

.table-view .column-header .label {
    -fx-alignment: center_left;
    -fx-font-size: 12pt;
    -fx-padding: 5 0 15 0;
}

.table-row-cell,
.table-row-cell:odd {
    -fx-background-color: white;
}

.table-row-cell:selected {
    -fx-background-color: lightgrey;
}

.table-view .table-cell {
    -fx-border-color: lightgrey;
    -fx-border-width: 1 0 0 0;
    -fx-font-size: 16pt;
    -fx-padding: 5 3 15 3;
}*/